<div class="container">
  <div class="row">
    <div class="two-thirds column">
      <div class="row">
        <h1><a ng-link="['Create']">gStudy</a></h1>
        <br>
        <h4>My Decks</h4>
        <hr>
      </div>
      <div class="row">
        <div class="one-third column box">
          <h5>Deck One</h5>
        </div>
        <div class="one-third column box">
          <h5>Deck Two</h5>
        </div>
        <div class="one-third column box">
          <h5>Deck Three</h5>
        </div>
      </div>
    </div>
    <div class="one-third column">
      <h2>Notifications</h2>
      <div class="twelve columns box text-center">
        <p>Grover just posted something</p>
      </div>
    </div>
  </div>
</div>