<div class="container">
  <div class="row">
    <div class="two-thirds column">
      <div class="row">
        <h1><a ng-link="['Create']">gStudy</a></h1>
        <br>
        <h4>My Decks</h4>
        <hr>
      </div>

        <div class="one-third column box text-center" ng-repeat="deck in $ctrl.decks">
          <h5>{{deck.title}}</h5>
          <p>{{deck.description}}</p>
        </div>


    </div>
    <div class="one-third column">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Sender</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="notif in $ctrl.notifications"
            ng-class="{ 'warning': !notif.read }"
            ng-click="$ctrl.markAsRead(notif)">
          <td>{{ notif.user_id }}</td>
          <td>{{ notif.content }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>