
.navbar-spacer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}

nav ul {
  float: left;
}

nav ul li {
  display: inline;
  padding-left: 4rem;
  float: left;
}

nav ul li a {
  font-size: 3rem;
}

nav ul li a:hover {
  color: #1F01B9;
}

.login {
  margin-top: 15%;
  margin-bottom: 15%;
}

.box {
  position: relative;
  border: solid 1px #B0B0B0;
  padding: 1rem;
  margin: 0;
  height: 100%;
}

.title-img {
  width: 100%;
}


.warning {
  background-color: #fbc97f;
}