.main {
  margin: 2rem;
}

.reset {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

a {
  text-decoration: none;
}

.navbar-spacer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.pull-right {
  float: right;
}


@media (min-width: 600px ){

  nav ul {
    float: left;
    width: 100%;
  }
  nav ul li {
    display: inline;
    padding-left: 4rem;
    margin-right: 2rem;
  }

  .option {
    float: right;
  }

  .title {
    float: left;
  }
}

@media (max-width: 600px) {
  nav ul {
    list-style: none;
  }
  nav ul li {
    text-align: center;
    width: 100%;
    border: solid 1px #B0B0B0;
  }
  .notifications {
    width: 100%;
  }
}

.samples {
  text-align: center;
}

ul {
  list-style: none;
}

nav ul li a {
  font-size: 3rem;
}

nav ul li a:hover {
  color: #1F01B9;
}

.login {
  margin-top: 15%;
  margin-bottom: 15%;
}

.box {
  position: relative;
  border: solid 1px #B0B0B0;
  padding: 1rem;
  margin: 0;
  height: 100%;
}

.title-img {
  width: 100%;
}

.deck-img {
  padding: 0;
  margin: 0;
  height: 100%;
  left: -25%;
  position: absolute;
  z-index: 0;
}

.card-content {
  width: 100%;
  background-color: rgba(200,200,200, 0.5)  ;
  position: absolute;
  z-index: 2;
  bottom: 2rem;
}

.deck-container {
  padding: 0;
  margin: 0;
  height: 40rem;
  position: relative;
  overflow: hidden;
}


.all-decks {
  margin-left: 7rem;
}

.create {
  margin-left: 2rem;
  margin-right: 2rem;
}


.warning {
  background-color: #fbc97f;
}